fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
geoalchemy2
redis
celery
boto3
httpx
python-dotenv
pyyaml
passlib[bcrypt]
bcrypt==4.0.1
python-jose
Pillow
rasterio
geopandas
shapely
numpy
rio-tiler
gradio_client
